@font-face {
  font-family: "clockicons";
  src: url("./webfonts/clockicons/84cb021d5f9af287ffff84b61beef6dc.eot");
  src: url("./webfonts/clockicons/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix") format("embedded-opentype"),
    url("./webfonts/clockicons/84cb021d5f9af287ffff84b61beef6dc.woff2") format("woff2"),
    url("./webfonts/clockicons/84cb021d5f9af287ffff84b61beef6dc.woff") format("woff"),
    url("./webfonts/clockicons/84cb021d5f9af287ffff84b61beef6dc.ttf") format("truetype"),
    url("./webfonts/clockicons/") format("svg");
}

:root {
  --gray: #71717a;
  --white: #cfcfcd;
  --primary: #a5b4fc;
  --background: #121214;

  --container-y: 5vh;
  --container-x: 8vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  background: linear-gradient(0deg, rgba(12, 12, 14, 0.5), rgba(12, 12, 14, 0.5)), url(images/steve-unsplash.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--white);
}

main {
  position: relative;
  width: 45vw;
  min-height: 35vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
  grid-template-areas: "nav" "panel";
}

main::before {
  content: "";
  position: absolute;
  top: calc(var(--container-y) / -2);
  left: calc(var(--container-x) / -2);
  width: calc(100% + var(--container-x));
  height: calc(100% + var(--container-y));
  border-radius: 1.06vw;
  backdrop-filter: blur(0.25vw);
  -webkit-backdrop-filter: blur(0.25vw);
  border: 0.1vw solid rgba(242, 243, 244, 0.3);
  box-shadow: 1px -1px 14px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 14px 3px rgba(0, 0, 0, 0.75);
}

main > nav,
main > section {
  position: relative;
}

@media (max-width: 1200px) {
  main {
    width: 50vw;
  }
}

@media (max-width: 900px) {
  main {
    width: 85vw;
  }
}

nav.panel ul {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1vh 0;
  list-style: none;
}

nav.panel button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5.5ch;
  border: none;
  border-bottom: 0.1vw solid var(--gray);
  font-size: clamp(1rem, 2vw, 1.5rem);
  transition: color 0.2s ease-in-out, border 0.4s ease-in-out;
  background-color: transparent;
  color: var(--gray);
  cursor: pointer;
}

nav.panel button:hover,
nav.panel button:focus {
  outline: none;
  color: rgba(242, 243, 244);
}

nav.panel button[active] {
  outline: none;
  border-color: var(--primary);
  color: var(--primary);
  cursor: auto;
}

@media (max-width: 1257px) {
  nav.panel ul {
    flex-direction: column;
  }

  nav.panel li:first-of-type button {
    margin-block: 0.36rem 0;
  }
  nav.panel li:last-of-type button {
    margin-block: 1.56rem 0;
  }
}

/* Shared */

main section {
  grid-area: panel;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section:not([active]) {
  display: none;
}

section .display {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 1rem 0;
  font-size: clamp(2rem, 4vw, 3rem);
  font-family: clockicons, sans-serif;
  font-weight: 400;
}

section .display p {
  margin: 0;
  padding: 0;
}

section .display span {
  margin: 0;
  padding: 0 0.25rem;
}

section nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

section nav ul button {
  background: transparent;
  border: none;
  border-radius: 4px;
  margin: 0.32rem 0.36rem;
  padding: 0.36rem 0;
  width: 2rem;
}

section nav ul button:hover,
section nav ul button:focus-visible {
  transform: scale(1.2);
}

section nav ul button:focus-visible {
  border: none;
  outline: 1px solid var(--white);
}

section nav ul button:focus-visible:active i {
  transform: scale(1.2);
}

section nav ul button:hover:active {
  transform: scale(1.2);
  opacity: 0.88;
}

section i {
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 250ms ease-in-out;
}

section nav ul li {
  position: relative;
}

section nav ul li span {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: -76%;
  font-size: 0.96rem;
  padding: 0.36em 0.76em;
  border-radius: 8px;
  font-family: sans-serif;
  background-color: var(--background);
  border: 1px solid var(--background);
  color: var(--white);
}

section nav ul li span::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  top: -4px;
  background-color: var(--background);
  border: 1px solid var(--background);
}

section nav ul li:has(button:hover) span {
  display: inline;
}

/* Stopwatch */

#stopwatch .display span:last-of-type {
  padding: 0 0.25rem 0 0.35rem;
  font-size: clamp(1.65rem, 3.55vw, 2.55rem);
}

#stopwatch .display p[type="hour"]:empty + span,
#stopwatch .display p[type="minute"]:empty + span {
  display: none;
}

#stopwatch .display p:last-of-type {
  font-size: clamp(1.65rem, 3.55vw, 2.55rem);
}

/* Timer */

#timer nav ul:not([active]) {
  display: none;
}

#timer .display {
  position: relative;
}

#timer .input-wrapper {
  position: absolute;
  inset: unset;
  width: 110%;
  height: 100%;
  display: none;
}

#timer .input-wrapper input {
  position: absolute;
  inset: unset;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
  font-size: 4rem;
  direction: rtl;
  cursor: pointer;
  user-select: none;
  outline: 1px solid red;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3.6px);
  }
  50% {
    transform: translateX(3.6px);
  }
  75% {
    transform: translateX(-3.6px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Classe que aplica a animação */
.shake {
  animation: shake 400ms;
  transition: color 3s linear;
}

.shake i {
  transition: color 280ms linear;
  color: #fc6e6e;
}
